parameters:
  level: 8
  paths:
    - src
    - tests

  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false

  ignoreErrors:
    - '#^Access to undefined constant.*\\Http\\\w+::\w+\.$#'
    - '#^Access to an undefined property.*\\Http\\\w+::\$value\.$#'

includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
